@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    background-color: #141e28;
  }
  
h2 {
    font-size: 36px;
    padding: 10px 20px;
    color: #dae16e;
  }
  
#chat{
    max-width: 75vh;
    margin: 30px auto; 
    box-shadow: 1px 2px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
  }
  
#chat-window{
    height: 62vh;
    overflow: auto;
    background: #253341;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
#output p{
    padding: 14px 0px; 
    margin: 0 20px;
    border-bottom: 1px solid #d7d6d6;
    color: #fff;
  }
  
#feedback p{
    padding: 14px 0px; 
    margin: 0 20px;
    color: #fff;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
  }
  
input {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #141c23;
    border: 0;
    display: block;
    width: 100%;
    background: #141c23;
    border-bottom: 1px solid #eee;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
  }
  
button{
    background: #a9ae58;
    color: #000;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 20px 20px;
  }